h1 {
    color: #ffffff;
    text-align: center;
    font-weight: 200;
    font-size: 52px;
    padding-top: 100px;
    text-shadow: 0px 2px 3px #555;
}

.fill {
    height: 100vh;
    width: 100%;
    background: #44b7fa;
    position: relative;
}

.login-form-holder {
    padding-top: 20px;
}

.forgot-password a {
    color: #44b7fa;
}

.forgot-password a:hover {
    cursor: pointer;
}

.btn {
    min-width: 220px;
    margin: 5px;
    border-radius: 30px;
}

.login-form {
    margin: auto;
    width: 400px;
    padding: 20px;
    text-align: center;
    margin-top: 5%;
    background: #ffffff;
    box-shadow: 5px 5px 12px 1px;
    border: 1px solid #bfbfbf;
    border-radius: 6px;
}

.error-mgs {
    color: #dc3545;
}

@media only screen and (max-width: 600px) {
    .login-form {
        width: 300px;
        margin-top: 1%;
    }
    .login-form-holder {
        padding-top: 5px;
    }
    .container {
        padding-top: 20px;
    }
    h1 {
        padding-top: 10px;
    }
}
