.overlay {
    text-align: center;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 1450;
    background-size: cover;
    background-repeat: no-repeat;
    background: #44b7fa;
}

.center {
    position: absolute;
    margin: auto;
    top: 40%;
    width: 100%;
}

h3 {
    font-weight: 600;
    color: #ffffff;
    font-size: 38px;
    text-shadow: 0px 2px 3px #555;
}

.fa {
    color: #ffffff;
}
