<app-loading *ngIf="isLoading"></app-loading>
<div *ngIf="!isLoading">
  <div class="container holder">
    <h2>Create Leave Request</h2>
    <form [formGroup]="leaveForm" class="leave-container" (ngSubmit)="createRequest()">

      <div class="form-group">
        <label class="form-control-label">Name</label>
        <input type="text" placeholder="Enter your name" formControlName="name" class="form-control"
          [ngClass]="{ 'is-invalid': isSubmitted && formControls.name.errors }">
        <div *ngIf="isSubmitted && formControls.name.errors" class="invalid-feedback">
          <div *ngIf="formControls.name.errors.required">Name is required!</div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-danger': isSubmitted && formControls.surname.errors }">
        <label class="form-control-label">Surname</label>
        <input type="text" placeholder="Enter your surname" formControlName="surname" class="form-control"
          [ngClass]="{ 'is-invalid': isSubmitted && formControls.surname.errors }">
        <div *ngIf="isSubmitted && formControls.surname.errors" class="invalid-feedback">
          <div *ngIf="formControls.surname.errors.required">Surname is required!</div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-danger': isSubmitted && formControls.type.errors }">
        <label class="form-control-label">Leave Type</label>
        <select class="form-control" formControlName="type"
          [ngClass]="{ 'is-invalid': isSubmitted && formControls.type.errors }" required>
          <option selected disabled value="undefined">Choose Leave Type</option>
          <option>Annual</option>
          <option>Sick</option>
          <option>Family</option>
          <option>Study</option>
        </select>
        <div *ngIf="isSubmitted && formControls.type.errors" class="invalid-feedback">
          <div *ngIf="formControls.type.errors.required">Leave type is required!</div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-danger': isSubmitted && formControls.startDate.errors }">
        <label class="form-control-label">Start Date</label>
        <input id="startDate" type="text" placeholder="From" class="form-control" formControlName="startDate"
          bsDatepicker [(ngModel)]="selectedStartDate"
          [ngClass]="{ 'is-invalid': isSubmitted && formControls.startDate.errors }" [bsConfig]="{ adaptivePosition: true, 
        dateInputFormat:'YYYY-MM-DD', containerClass:'theme-default'}" [minDate]="today" (ngModelChange)="startDateSelected($event)">
        <div *ngIf="isSubmitted && formControls.startDate.errors" class="invalid-feedback">
          <div *ngIf="formControls.startDate.errors.required">Start date is required!</div>
        </div>
      </div>

      <div class="form-group"
        [ngClass]="{ 'has-danger': isSubmitted && formControls.endDate.errors }">
        <label class="form-control-label">End Date</label>
        <input id="startDate" type="text" placeholder="To" class="form-control" formControlName="endDate" bsDatepicker
          [(ngModel)]="selectedEndDate" [attr.disabled]="!startDateIsSelected? false : null" [ngClass]="{ 'is-invalid': isSubmitted && formControls.endDate.errors }"
          [bsConfig]="{ adaptivePosition: true, 
          dateInputFormat:'YYYY-MM-DD', containerClass:'theme-default'}" [minDate]="selectedStartDate" (ngModelChange)="endDateSelected($event)">
        <div *ngIf="isSubmitted && formControls.endDate.errors" class="invalid-feedback">
          <div *ngIf="formControls.endDate.errors.required">End date is required!</div>
        </div>
      </div>

      <div class="form-group balance-section">
        <hr />
        <h4>Total Requested Days: {{totalDays}}</h4>
        <label class="form-control-label">Leave Balances:</label>
        <div><span class="balance-text">Annual:</span> {{userData.leaveRemaining.annual}}</div>
        <div><span class="balance-text">Sick:</span> {{userData.leaveRemaining.sick}}</div>
        <div><span class="balance-text">Family:</span> {{userData.leaveRemaining.family}}</div>
        <div><span class="balance-text">Study:</span> {{userData.leaveRemaining.study}}</div>
      </div>

      <hr>
      <div>
        <input type="submit" value="Submit Request" class="btn btn-primary">
      </div>
    </form>

  </div>
</div>

<!-- Create Modal Popup -->
<ng-template #addModal>
  <div class="modal-header">
    <h4 *ngIf="!error" class="modal-title pull-left">Success</h4>
    <h4 *ngIf="error" class="modal-title pull-left">Error</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="!error" class="modal-body">
    Successfully created your leave request.
  </div>
  <div *ngIf="error" class="modal-body">
    {{errorMgs}}
  </div>
  <div class="modal-footer">
    <button *ngIf="!error" type="button" class="btn btn-primary" (click)="hideModal()">Ok</button>
    <button *ngIf="error" type="button" class="btn btn-danger" (click)="hideModal()">Ok</button>
  </div>
</ng-template>