.submit-button-section {
    margin: 20px 0px;
}

.balance-text {
    font-size: 14px;
}

.balance-section {

}

.holder {
    padding-bottom: 100px;
}

.leave-container {
    margin: 15px 0px;
    background: #fff;
    padding: 20px;
    box-shadow: 1px 1px 10px 2px #dbdbdb;
}

.form-group select:hover {
    cursor: pointer;
}