<div class="wrapper">
    <div class="header">
        <div class="menu-icon-holder-left">
            <img class="logo" src="assets/images/logo.png">
        </div>
        <div class="menu-icon-holder-right">
            <button class="btn btn-primary" (click)="showLogoutModal()">Logout<i
                    class="fa fa-sign-out fa-1x"></i></button>
        </div>
    </div>
    <div class="menu container">
        <a *ngFor="let item of menu" [routerLink]="item.route" routerLinkActive="active-link"
            class="nav-link">{{item.caption}}</a>
        <hr/>
    </div>
</div>

<!-- Logout Modal Popup -->
<ng-template #logoutModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Confirm Logout</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to logout?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="logout()">Confirm</button>
        <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
    </div>
</ng-template>