.active-link {
    color: #fff !important;
    text-decoration: none;
    background-color: #0065a0 !important;
}

.logo {
    height: 80px;
    margin: 0px 20px;
}

.menu {
    margin-top: 85px;
    width: 100%;
    padding: 20px;
}

.menu a {
    background: #888;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
    min-width: 260px;
    text-align: center;
}

.menu a:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #0081cc !important;
}

.menu-icon-holder-right {
    float: right;
    padding: 15px;
}

.menu-icon-holder-left {
    float: left;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #ccc;
    position: fixed;
    color: #fff;
    font-weight: 200;
    margin-bottom: 4px;
    font-size: 20px;
    z-index: 1040;
    top: 0;
    left: 0;
}

@media (max-width: 370.98px) {
    .menu {
        text-align: center;
    }
}
