.user-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.option-holder button {
    margin: 3px 6px;
}

.red {
    color: rgb(255, 30, 30);
    font-size: 28px;
}

table {
    width: 100%;
}

th {
    height: 50px;
}

.audit {
    border-bottom: 1px solid rgb(196, 196, 196);
    padding: 10px 0px;
}

.audit:last-child {
    border-bottom: unset;
}

.paid {
    color: green;
}

.not-paid {
    color: red;
}

th .fa {
    padding: 2px 5px;
}

th:hover {
    cursor: pointer;
}

.user-table thead tr {
    background-color: #0065a0;
    color: #ffffff;
    text-align: left;
}

.user-table tfoot tr {
    background-color: #0065a0;
    color: #ffffff;
    text-align: left;
}

.user-table th,
.user-table td {
    padding: 12px 15px;
}

.user-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.user-table tbody tr:nth-of-type(even) {
    background-color: #e7e7e7;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0065a0;
}
