<div class="container">
    <h2>Leave Requests</h2>
    <div class="table-responsive">
        <table class="table user-table">
            <thead>
                <tr>
                    <th sortable="name" (click)="onSortUsers('name')">Name <i
                            *ngIf="isSortedClicked && selectedColumn === 'name'" class="fa fa-1x"
                            [ngClass]="{'fa-arrow-up': isAsc === true, 'fa-arrow-down': isAsc === false }"></i>
                    </th>
                    <th sortable="surname" (click)="onSortUsers('surname')">Surname <i
                            *ngIf="isSortedClicked && selectedColumn === 'surname'" class="fa fa-1x"
                            [ngClass]="{'fa-arrow-up': isAsc === true, 'fa-arrow-down': isAsc === false }"></i></th>
                    <th sortable="surname" (click)="onSortUsers('type')">Leave Type <i
                            *ngIf="isSortedClicked && selectedColumn === 'type'" class="fa fa-1x"
                            [ngClass]="{'fa-arrow-up': isAsc === true, 'fa-arrow-down': isAsc === false }"></i></th>
                    <th sortable="status" (click)="onSortUsers('status')">Status <i
                            *ngIf="isSortedClicked && selectedColumn === 'status'" class="fa fa-1x"
                            [ngClass]="{'fa-arrow-up': isAsc === true, 'fa-arrow-down': isAsc === false }"></i></th>
                    <th sortable="days" (click)="onSortUsers('days')">Total Days<i
                            *ngIf="isSortedClicked && selectedColumn === 'days'" class="fa fa-1x"
                            [ngClass]="{'fa-arrow-up': isAsc === true, 'fa-arrow-down': isAsc === false }"></i></th>
                    <th sortable="from" (click)="onSortUsers('from')">From <i
                            *ngIf="isSortedClicked && selectedColumn === 'from'" class="fa fa-1x"
                            [ngClass]="{'fa-arrow-up': isAsc === true, 'fa-arrow-down': isAsc === false }"></i></th>
                    <th sortable="to" (click)="onSortUsers('to')">To <i
                            *ngIf="isSortedClicked && selectedColumn === 'to'" class="fa fa-1x"
                            [ngClass]="{'fa-arrow-up': isAsc === true, 'fa-arrow-down': isAsc === false }"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of leaveData; let i = index">
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.type}}</td>
                    <td>{{user.status}}</td>
                    <td>{{user.days | number}}</td>
                    <td>{{user.from}}</td>
                    <td>{{user.to}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th sortable="name" (click)="onSortUsers('name')">Name <i
                            *ngIf="isSortedClicked && selectedColumn === 'name'" class="fa fa-1x"
                            [ngClass]="{'fa-arrow-up': isAsc === true, 'fa-arrow-down': isAsc === false }"></i></th>
                    <th sortable="surname" (click)="onSortUsers('surname')">Surname <i
                            *ngIf="isSortedClicked && selectedColumn === 'surname'" class="fa fa-1x"
                            [ngClass]="{'fa-arrow-up': isAsc === true, 'fa-arrow-down': isAsc === false }"></i></th>
                    <th sortable="type" (click)="onSortUsers('type')">Leave Type <i
                            *ngIf="isSortedClicked && selectedColumn === 'type'" class="fa fa-1x"
                            [ngClass]="{'fa-arrow-up': isAsc === true, 'fa-arrow-down': isAsc === false }"></i></th>
                    <th sortable="status" (click)="onSortUsers('status')">Status <i
                            *ngIf="isSortedClicked && selectedColumn === 'status'" class="fa fa-1x"
                            [ngClass]="{'fa-arrow-up': isAsc === true, 'fa-arrow-down': isAsc === false }"></i></th>
                    <th sortable="days" (click)="onSortUsers('days')">Total Days <i
                            *ngIf="isSortedClicked && selectedColumn === 'days'" class="fa fa-1x"
                            [ngClass]="{'fa-arrow-up': isAsc === true, 'fa-arrow-down': isAsc === false }"></i></th>
                    <th sortable="from" (click)="onSortUsers('from')">From <i
                            *ngIf="isSortedClicked && selectedColumn === 'from'" class="fa fa-1x"
                            [ngClass]="{'fa-arrow-up': isAsc === true, 'fa-arrow-down': isAsc === false }"></i></th>
                    <th sortable="to" (click)="onSortUsers('to')">To <i
                            *ngIf="isSortedClicked && selectedColumn === 'to'" class="fa fa-1x"
                            [ngClass]="{'fa-arrow-up': isAsc === true, 'fa-arrow-down': isAsc === false }"></i></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>