@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

html,
body {
    font-family: 'Montserrat', Arial, sans-serif;
    background: #efefef;
    font-weight: 200;
}

.modal-backdrop {
    width: 100%;
    height: 100%;
}

input,
h1,
h2,
h3,
h4,
label,
button {
    font-weight: 100;
}

h1,
h2,
h3,
h4 {
    color: #363636;
}

select {
    font-weight: 200 !important;
}

.error-mgs {
    font-size: 80%;
    color: #dc3545;
}

.modal {
    font-weight: 200;
}

::placeholder {
    color: #bababa !important;
}

.fa {
    padding: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #0065a0;
    border-color: #0065a0;
}

.btn-primary:hover {
    background-color: #1892d8;
    border-color: #1892d8;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:hover:disabled{
    cursor: not-allowed;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-position: right calc(.75em + .1870rem) center;
}

.modal-footer button {
    min-width: 150px;
}